<template>
  <v-container fluid>

    <v-row class="center ml-8 mr-8">
      <v-col>
        <v-img
          :src="require('../assets/logo.png')"
          class="logo"
          contain
          height="150"
        />
      </v-col>
    </v-row>

    <v-row class="text-center ml-8 mr-8">
      <v-col class="mb-4">
        <h1 class="display-0 font-weight-bold mb-3">
          Перекладіть / Перевести / Translator
        </h1>
      </v-col>
    </v-row>

    <v-row class="ml-8 mr-8 text-center">
      <v-col>
        <v-textarea
          v-model="textInput"
          name="to-translate"
          outlined
          hide-details
          label="Введіть текст для перекладу"
          auto-grow
        />
      </v-col>
    </v-row>

    <v-row class="ml-8 mr-8">
      <v-col>
        <v-btn
          @click="onTranslate"
          depressed
          color="primary"
        >
          <v-icon dark>
              mdi-translate
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row class="text-center ml-8 mr-8">
      <v-col>
        <v-textarea
          v-model="textOutput"
          name="translated"
          filled
          outlined
          readonly
          hide-details
          label="Перекладено"
          value=""
          auto-grow
        />
      </v-col>
    </v-row>

    <v-row class="ml-8 mr-8">
      <v-col>
        <v-btn
          @click="onClear"
          depressed
          color="primary"
        >
          <v-icon dark>
              mdi-delete-sweep
          </v-icon>
        </v-btn>
      </v-col>      
    </v-row>

</v-container>
</template>

<script>
export default {
  name: 'TranslatorVue',
  props: {
    msg: String
  },
  data() {
    return {
      textInput: '',
      textOutput: ''
    }
  },
  methods : {
    onClear(evt) {
      evt.preventDefault()
      this.textInput = ''
      this.textOutput = ''
    },
    onTranslate(evt) {
      evt.preventDefault()
      const ToTranslate = {
        textIntput : this.textInput
      }
      this.$emit('add-information', ToTranslate)
      
      //
      // @TODO -- Call the appropriate route from here
      //

      this.textOutput = '-> ' + this.textInput + ' <-'
      this.filled = true
    }
  }
}
</script>

