<template>
  <v-app>
    <v-main>
      <Translator/>
    </v-main>
  </v-app>
</template>

<script>
import Translator from './components/Translator';

export default {
  name: 'App',

  components: {
    Translator,
  },

  data: () => ({
    //
  }),
};
</script>
